@font-face {
  font-family: "RixInooAriDuri";
  font-weight: 1200;
  src: url("./fonts/RixInooAriDuri.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "RixInooAriDuri";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

